$primary-color: #00798a;
$text-color: #212121;
$secondary-text-color: #707070;
$light-background: rgba(151, 202, 209, 0.12);
$font-size-base: 16px;
$line-height-base: 150%;
$light-background-updated: rgba(151, 202, 209, 0.08);
$text-color-light: #f6f7f8;
$text-color-lighter: #c5c4c4;
$border-color: #707070;
$footer-background-color: #212121;
$light-background-dark: #f6f7f8;
$modal-bg: rgba(0, 0, 0, 0.6);
$content-bg: #fff;
$border-radius: 12px;
$padding: 2rem;
$close-size: 24px;
$font-close: 1.5rem;
$shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
$transition: 0.3s ease;